@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");
*{
  margin: 0px;
  padding: 0px;
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
}

body{
    height: 100vh;
}

.container{
    display: flex;
    align-items: center;
}

.Weather-input{
    width: 25%;
    position: fixed;
    inset: 0;
    background: #78c1f3;
    padding: 1rem 2.5rem;
}

.weatherIcon{
    background-position: 50% !important;
    background-repeat: no-repeat !important;
    background-size: contain;
    display: block;
    height: 25%;
    margin: 2rem auto;
}

.input-group{
   position: relative;
   display: flex;
   align-items: center;
   margin: 2rem 0;
}

.input-group input{
    background: hwb(0 100% 0%);
    text-transform: capitalize;
    padding: 1rem;
    font-size: 15px;
    border-radius: 6px;
    width: 100%;
    outline: none;
    border: none;
}

.input-group .converter{
    position: absolute;
    right: 35px;
    border: none;
    outline: none;
    font-size: 11px;
    cursor: pointer;
}

.input-group .fa-search{
    position: absolute;
    right: 15px;
    color: #909090;
    cursor: pointer;
    font-size: px;
}

.Weather-output{
    width: 75%;
    position: fixed;
    inset: 0;
    margin-left: 25%;
    padding: 2rem; 
    background: #f6f6f6;
    overflow: auto;
}

.Highlight{
    display: grid;
    grid-template-columns: repeat(3,350px);
    grid-auto-flow: row;
    row-gap: 1rem;
    column-gap: 10px;
}

.Highlight div{
    height: 200px;
    display: grid;
    align-items:center;
    justify-content: center;
    text-align: center;
    background-color: #78c1f3;
    border-radius: 20px;
    padding: 1rem;
}

.Highlight i{
    font-size: 45px;
}

.Sun span{
    align-items: center;
    display: flex;
    gap: 10px;
}
